* {
    box-sizing: border-box;
}

body, h1, h2, h3, p, button {
    margin: 0;
    padding: 0;
}

.head {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
}

.btn button {
    background-color: greenyellow;
    color: black;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
}

.btn button:hover {
    background-color: green;
}

.text {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    font-size: 20px;
}

#pic {
    max-width: 100%;
    height: auto;
    border-radius: 50px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

.buttom {
    max-width: 100%;
    margin: 20px auto 0;
    text-align: center;
}

.about, .blog, .resume{
    padding: 10px 0;
    max-width: 100%;
    margin: 0 auto;
}
